*::-webkit-scrollbar {
    width: 0;
}

* {
    scrollbar-width: none;
}

select {
    width: 100%;
    border-radius: 0;
    border: none;
}


.booking-box {
    background-color: #000000cc;
    padding: 1rem 2rem;
    position: fixed;
    z-index: 1000;
    top: 90px;
    left: 0;
    max-height: calc(100vh - 90px);
    overflow-y: auto;
    height: 100%;
    h1 {
        font-size: 21px;
        margin: 15px;
    }
    .form-group {
        span {
            margin: 0;
            border-radius: 5px !important;
            height: 40px;
        }
        span.vc-popover-caret {
            border-radius: 0 !important;
            height: 12px;
        } 
        span.select2 {
            width: 100% !important;
        }
    }
    .travel_type {
        width: calc(100% - 10px);
        border-radius: 5px;
        height: 40px;
        padding: 0 5px;
        margin-bottom: 1rem;
        background-color: #fff;
    }
    span.select2 {
        width: 100%;
    }
    .form-control {
        border-radius: 5px !important;
        background-color: #fff;
    }
}
.booking-box.booking-form-mobile {
    width: 100%;
}

.booking-box.box-open {
    transform: translateY(0);
    transition: all 1s ease-in-out;
    #booking-box-open-close {
        i {
            transform: rotate(180deg);
            transition: all 1s ease-in-out;
        }
    }
}

.booking-box.box-close {
    transform: translateY(calc(100% - 70px));
    transition: all 1s ease-in-out;
    #booking-box-open-close {
        i {
            transform: rotate(0deg);
            transition: all 1s ease-in-out;
        }
    }
}

#booking-box-open-close {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border: none;
    padding: 0;
    width: 100%;
    margin-bottom: 1rem;
    cursor: pointer;
    h1 {
        margin: 0;
    }
    i {
        font-size: 2rem;
    }
}

  
.select2-container--default .select2-selection--single {
    border-radius: 0 !important;
}

label {
    margin-bottom: .2rem;
}

button.button {
    border-radius: 5px;
}

.select2-selection__rendered {
    text-align: left;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 36px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 6px !important;
}

.passengers_form {
    position: relative;
    .passengers-box {
        background-color: gray;
        border-radius: 5px;
        .row {
            .form-group {
                display: flex;
                flex-direction: column;
                .input-group {
                    input {
                        border-radius: 0 !important;
                        height: 38px;
                    }
                    .input-group-btn {
                        &:first-of-type {
                            button {
                                border-radius: 5px 0px 0px 5px;
                            }
                        }
                        &:last-of-type {
                            button {
                                border-radius: 0px 5px 5px 0px;
                            }
                        }
                        button {
                            span {
                                height: unset;
                                font: normal normal normal 14px/1 FontAwesome;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}