*::-webkit-scrollbar {
  width: 0;
}

* {
  scrollbar-width: none;
}

select {
  width: 100%;
  border-radius: 0;
  border: none;
}

.booking-box {
  background-color: #000000cc;
  padding: 1rem 2rem;
  position: fixed;
  z-index: 1000;
  top: 90px;
  left: 0;
  max-height: calc(100vh - 90px);
  overflow-y: auto;
  height: 100%;
}

.booking-box h1 {
  font-size: 21px;
  margin: 15px;
}

.booking-box .form-group span {
  margin: 0;
  border-radius: 5px !important;
  height: 40px;
}

.booking-box .form-group span.vc-popover-caret {
  border-radius: 0 !important;
  height: 12px;
}

.booking-box .form-group span.select2 {
  width: 100% !important;
}

.booking-box .travel_type {
  width: calc(100% - 10px);
  border-radius: 5px;
  height: 40px;
  padding: 0 5px;
  margin-bottom: 1rem;
  background-color: #fff;
}

.booking-box span.select2 {
  width: 100%;
}

.booking-box .form-control {
  border-radius: 5px !important;
  background-color: #fff;
}

.booking-box.booking-form-mobile {
  width: 100%;
}

.booking-box.box-open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.booking-box.box-open #booking-box-open-close i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.booking-box.box-close {
  -webkit-transform: translateY(calc(100% - 70px));
          transform: translateY(calc(100% - 70px));
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.booking-box.box-close #booking-box-open-close i {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

#booking-box-open-close {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  border: none;
  padding: 0;
  width: 100%;
  margin-bottom: 1rem;
  cursor: pointer;
}

#booking-box-open-close h1 {
  margin: 0;
}

#booking-box-open-close i {
  font-size: 2rem;
}

.select2-container--default .select2-selection--single {
  border-radius: 0 !important;
}

label {
  margin-bottom: .2rem;
}

button.button {
  border-radius: 5px;
}

.select2-selection__rendered {
  text-align: left;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 36px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 6px !important;
}

.passengers_form {
  position: relative;
}

.passengers_form .passengers-box {
  background-color: gray;
  border-radius: 5px;
}

.passengers_form .passengers-box .row .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.passengers_form .passengers-box .row .form-group .input-group input {
  border-radius: 0 !important;
  height: 38px;
}

.passengers_form .passengers-box .row .form-group .input-group .input-group-btn:first-of-type button {
  border-radius: 5px 0px 0px 5px;
}

.passengers_form .passengers-box .row .form-group .input-group .input-group-btn:last-of-type button {
  border-radius: 0px 5px 5px 0px;
}

.passengers_form .passengers-box .row .form-group .input-group .input-group-btn button span {
  height: unset;
  font: normal normal normal 14px/1 FontAwesome;
  color: #fff;
}

.flight_schedule_row {
  border: 1px solid #000;
}

.flight_schedule_row .flight_schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.flight_schedule_row .flight_schedule .flight_start,
.flight_schedule_row .flight_schedule .flight_end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flight_schedule_row .flight_schedule .flight_start span,
.flight_schedule_row .flight_schedule .flight_end span {
  display: block ruby;
}

.flight_schedule_row .flight_schedule .travel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flight_schedule_row .flight_schedule .travel hr {
  border-top: 1px solid #000;
  width: 100%;
  position: relative;
}

.flight_schedule_row .flight_schedule .travel hr::before {
  content: '';
  width: 10px;
  height: .5px;
  background-color: #000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  display: block;
  right: 0;
  top: -5px;
}

.flight_schedule_row .flight_schedule .travel hr::after {
  content: '';
  width: 10px;
  height: .5px;
  background-color: #000;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  display: block;
  right: 0;
  bottom: -3.5px;
}
/*# sourceMappingURL=style.css.map */